

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {list-style: none; margin: 0; padding: 0;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;

    /* reset chrome useragent setting for blockqoute */
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

table {

    border-collapse: collapse;
    border-spacing: 0;
}
/* end of reset */


/* reset focus */

:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}


/* universal polyfills for unknown html objects */

main {
    display: block;
}

app-media-resized {
    display: block;
    position: relative;
}

.grid {
	position: absolute;
  width: 100vw;
  height: 100vh;
	background-color: #fbffc9;
	opacity: 100%;
	overflow: hidden;
}

.grid .contents {
	position: absolute;
  transform-origin: 0 0;
}

.bookTitle {
  font-size: 90px;
  color: black;

}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 10px;
  gap: 50px;
  /* color: rgb(54, 54, 54); */

}

.book {
  width: 200px;
}


#linkToZoomCode {
  margin: 10px;
  text-align: center;
  width: 165px;
  height: 30px;
  border-radius: 5px;
  background-color: #dbb34c;
  color: #5b310f;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* #zoomLevel {
  
  position: fixed;
      top: 0;
      right: 0;
      background-color: #f0f0f0; 
      z-index: 2;

} */

#logo {
  opacity: 70%;
}

body {
  background-color: #fbffc9;
}

nav {

  background-color: #ffeb6a;;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navButt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  width: 165px;
  height: 30px;
  border-radius: 5px;
  background-color: #dbb34c;
  color: #5b310f;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.navButt:hover {
  background-color: rgb(156, 207, 255);
}

/* about page */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 50%;
}

.chapter-heading {
  font-weight: bold;
}

spacer {
  height: 50px;
}

.highlight {
  background-color: rgb(60, 255, 0);
}

/* search bar */

#searchContainer {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  background-color: #fcf5bb;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;

}

#highLabel {
  font-size: medium;
  color: #5b310f;
  margin-left: 20px;
}

#searchInput, #highlightColorPicker, #searchButton, #resetButton {

  border-radius: 5px;
  border: none;
  height: 30px;
}

#highlightColorPicker, #searchButton, #resetButton {

  background-color: antiquewhite;
}

#highlightColorPicker:hover,
#searchButton:hover,
#resetButton:hover {
  background-color: rgb(156, 207, 255);
}

#searchInput {

  width: 200px;
}

/*Link to Patreon*/

#patreonStuff {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#patreonLink {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(156, 207, 255);
  border-radius: 5px;
  height: auto;
  width: auto;
}

#payPalButt {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(156, 207, 255);
  border-radius: 5px;
  height: auto;
  width: 180px;
}

#payPalLogo {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

h4, h5 {
  color: #5b310f;
  font-family: Arial, Helvetica, sans-serif;
}

#pLinkLabel {
  z-index: 4;
  color: #5b310f;
  font-family: Arial, Helvetica, sans-serif;
}

#pLogo {
  z-index: 5;
  width: 170px;
  height: 95px;
}

/* Styling for the dropdown container */
#bookResults {
  display: none; /* Hide the dropdown by default */
  top: 100%;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

/* Styling for dropdown options */
#bookResults option {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

#bookResults option:hover {
  background-color: #f5f5f5;
}

/* Show the dropdown when the search results are available */
#bookResults.show {
  display: block;
}

.hide {
  display:none !important;
}
/* .spinner-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
} */

/* @keyframes spin {
  to {
      transform: rotate(360deg);
  }
} */